#linked{
    position: fixed;
    top: 10px;
    right: 10px;
}
#linkeded{
    position: fixed;
    top: 10px;
    right: 175px;
}
#LoginBox {
    postion: fixed;
    top: 20px;
    right: 50px;
    z-index: 0;
}